dist: bionic
sudo: required
language: python
python:
  - "3.8"

before_script:
  - wget -q https://www.virtualbox.org/download/oracle_vbox_2016.asc -O- | sudo apt-key add -
  - wget -q https://www.virtualbox.org/download/oracle_vbox.asc -O- | sudo apt-key add -
  - sudo add-apt-repository "deb [arch=amd64] http://download.virtualbox.org/virtualbox/debian $(lsb_release -cs) contrib"
  - sudo apt-get --quiet update
  - sudo apt-get install --yes linux-headers-$(uname -r) build-essential perl dkms unzip
  - sudo apt-get install --yes --fix-missing virtualbox-6.1
  - echo $(vboxmanage --version)
  - wget -O packer.zip https://releases.hashicorp.com/packer/1.6.0/packer_1.6.0_linux_amd64.zip
  - unzip packer.zip
  - sudo mv packer /usr/local/bin
  - echo $(packer --version)
  - pip install travis-wait-improved

script:
  - travis-wait-improved --timeout 60m packer build ubuntu.json
